* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cotainer {
    background: #111827;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.cals-text {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 10px;
}

.cals-text p {
    width: 100%;
    font-size: 3rem;
    text-align: end;
    color: #d1d5db;
    word-wrap: break-word;
    word-break: break-all;
}

button {
    font-size: 1.5rem;
    bottom: none;
    border-radius: 16px;
    cursor: pointer;
    height: 65px;
    width: 65px;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.cals-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.key-zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 14px;
}

.keys-operate {
    background: #14b8a6;
    align-items: center;
    color: #fff;
    font-size: 45px;
}

.keys-others {
    background: #374151;
    color: #e5e7eb;
}

button:active {
    transform: scale(1);
}
